version: '3.8'

services:
    postgres:
        image: postgres:16-alpine
        container_name: modernportfolio_db
        env_file:
            - .env
        ports:
            - "5430:5432"
        volumes:
            - postgres_data:/var/lib/postgresql/data
        restart: unless-stopped

volumes:
    postgres_data: