@{
    ViewData["Title"] = "Ana Sayfa";
}

<section id="hero" class="hero section">
    <img src="ui/img/hero-bg.jpg" alt="" data-aos="fade-in">
    <div class="container text-center" data-aos="zoom-out" data-aos-delay="100">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <h2>Zehra Şeren</h2>
                <p>İstanbul'da yaşayan bir yazılım geliştiricisiyim.</p>
                <a href="about.html" class="btn-get-started">Hakkımda</a>
            </div>
        </div>
    </div>

</section>